<header class="header">
  <div class="logo">
    <span>Sync Hub</span>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/todo">Todo</a></li>
      <li><a routerLink="/feed">My Feed</a></li>
      <li><a routerLink="/messages">Messages</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
  </nav>
  <nav class="secondary-nav">
    <ul class="nav-list">
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/account">Account</a></li>
    </ul>
  </nav>
</header>
